<div class="left">
    <div class="heading">Features</div>
    @using (Html.BeginForm("Feature", "Features"))
    {
        <div class="formLabel">URL</div>
        <input type="text" name="feature" class="formInput" value="@OrgPortal.Domain.Configuration.Feature" />
        <input type="submit" name="submit" value="Save" id="submit1" class="button" />
    }
</div>