<div class="jumbotron">
  <h1>OrgPortal</h1>
  <p class="lead">OrgPortal is a way of deploying WinRT apps to client workstations without using the public store.</p>
  <p><a href="https://github.com/Magenic/OrgPortal" class="btn btn-primary btn-large">View project on GitHub &raquo;</a></p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Getting started</h2>
    <p>
      You will need to set up a web server from which client devices can download your WinRT apps.
    </p>
  </div>
</div>
