<p>This page is just for testing, remove it when you're done with it</p>

<form action="/api/appx" method="post" enctype="multipart/form-data">
    <input name="postedFile" type="file" />
    <input type="submit" />
</form>